.idea
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db

__pycache__

venv/
env/
.venv/
.env/

/node_modules/
/bower_components/

/build/
/dist/
/out/
/target/

/logs/
*.log
*.tmp

.env
.env.local
.env.*.local
.env.production

*.sql
*.db

.project
.classpath
.settings/
